*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(23%)
        saturate(2941%) hue-rotate(221deg) brightness(97%) contrast(94%);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.icon {
    filter: var(--icon-color);
}
